{% extends "layout.html" %}

{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b><img src="https://www.infobae.com/new-resizer/pBSi-xwoJJDL_vq48FW7Gz6aHaQ=/420x280/filters:format(webp):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/infobae/CQ2QQMJSHJCR5E3ZGAQMXQC7F4.jpeg"  width="100" height="100">López Obrador</b><br>
      100 followers
    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
    <li><a href="/users/{{tweet.name}}">{{tweet.name}}</a> <img src="https://www.infobae.com/new-resizer/pBSi-xwoJJDL_vq48FW7Gz6aHaQ=/420x280/filters:format(webp):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/infobae/CQ2QQMJSHJCR5E3ZGAQMXQC7F4.jpeg"  width="50" height="60" ><p>{{tweet.name}}</p>{{tweet.content}}</li>
        
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}